body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: inline-block;
  flex-direction: row;
  min-height: 45vh;
}

.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}

.title-image {
  height: 50px;
  width: 50px;
  float: left;
  margin-right: 50px;
}

.card {
  width: 20%;
}

.left {
  float: left;
  display:flow-root;
}

.right {
  float: left;
  display:flow-root;
}

.creative {
  color: midnightblue;
}

@media (max-width: 680px) {
  .logo {
    width: 20%;
  }

  h1 {
    font-size: 3.5rem;
    text-align: center;
  }

  .card {
    width: 30%;
    display: inline-block;
    margin-bottom: 30px;
    text-align: justify;
  }

  .card img {
    margin-bottom: 50px;
    width: 30%;
    display: block;
    object-fit: cover;
  }
}
